/* Je mets le police Raleway en lien avec l'url dans html*/

body
{
    font-family: 'Raleway', sans-serif;
}
/* Marges extérieures sur tous les titres en h2 */
h2
{
    margin: 20px 0 0 20px;
}

/*HEADER */
/* J'aligne mes éléments de nav et le logo */
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}
/* J'aligne mes élements de nav entre eux et supprime les puces */
nav ul
{
    display: flex;
    list-style: none;
}
/* J'espace mes éléments et leur donne leur couleur */
nav li 
{
    margin: 0 20px ;
    color: #0065fc;
}
/* J'enléve le soulignement des liens/ancres */
nav li a 
{
    text-decoration: none;
}
/* Je mets une couleur grise au 2éme élement */
nav li #activities
{
    color: #868282;
}

/*MAIN */

/* Modification du titre en changeant la taille du texte et en mettant une marge ext. gauche */ 

h1
{
    font-size: 24px;
    margin-left: 50px;
}

/* Marge ext. gauche pour alignement du paragraphe avec le titre et contenu de la page */

#actions 
{
    margin-left: 50px;
}


/* barre de recherche*/
/* Voir pour dimensions suivant alignement avec les filtres */

.search
{
    display: flex;
    margin-left: 50px;
}

#search-ico
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
}
#search-text 
{
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #f2f2f2;
    padding-left: 20px;
}

#search-button
{
    color: #f2f2f2;
    background-color: #0065fc;
    border: none;
    border-radius: 0 20px 20px 0;
    width: 120px;
}

/* filtres */

.filters
{
    width: 60%;
    height: 40px;   
    margin-top: 40px;
}

/* textes des éléments de filtres */
.filters p
{
    margin: 2px 2px 2px 2px;
    padding: 1px 10px 1px 10px;     
}

/* Liste des filtres */
.filters ul 
{
    display: flex;
    align-items: center;
    font-weight: bold;    
}

/* Eléments de liste des filtres */
.filters li 
{
    display: flex;
    align-items: center;      
    list-style-type: none;
    margin-left: 3%;    
    border: 2px solid #f2f2f2;
    border-radius: 50px;   
}

/* On change l'apparence des éléments au passage de la souris dessus */
.filters li:hover
{
    background-color: #0065fc;
    color: red;
}

/* Icones des filtres */
.ico-filters
{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0065fc;
    background-color: #deebff;
    width: 50px;
    height: 50px;
    border-radius: 50px 50px 50px 50px;       
}

/* on change également l'apparence des icones au survol de la souris */
.ico-filters:hover
{
    background-color: #deebff;
    color: red;
}

/* Paragraphe et icone d'information sous les filtres */
#information
{
    display: flex;
    align-items: center;
    margin: 30px 0 30px 50px;   
}

/* icone d'information */
#information i
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 20px;       
}

/* Texte suivant l'icone "information" */ 
#information p
{
    font-size: 1.2em;    
}

/* SECTIONS HÉBERGEMENTS ET POPULAIRES */

/* Mise en forme des sections "hébergements" et "populaires" et alignements entre elles */

.accomodations-popular
{
    display: flex;
    justify-content: flex-start;
}


/* SECTION HÉBERGEMENTS */

/* Section "hébergements" à laquelle, on donne la couleur du fond, les dimensions, et les marges ext. & int. et arrondis */
.accomodations
{
    background-color: #f2f2f2;
    width: 75%;
    margin-left: 50px;
    padding: 20px 0 20px 20px;
    border-radius: 30px;
}

/* Alignements des "articles" entre eux, envoi à la ligne, dimensions, couleur de fond, marges extérieures, bordures */
.accomodations-article 
{
    display: inline-block;
    width: 29%;
    background-color: #ffffff;
    margin: 20px 20px 20px 20px;
    border: none;
    border-radius: 20px ;       
}

/* Dimensionnement des images, bordures et marge extérieures */
.img-accomodations 
{
    width: 97%;
    height: 180px;
    border: none;
    border-radius: 20px 20px 0 0;
    margin: 5px 0 5px 5px;
}

/* Mise en gras des titres des articles h3, et applications des marges intérieures et extérieures */
.accomodations-article h3
{
    font-weight: bold;
    margin: 10px 0 10px 20px;
}

/* Mise en page des paragraphes des articles pour les marges */
.accomodations-article p
{
   margin: 0 0 10px 20px;
}

/* Mise en page des icônes (étoiles) de votes avec marges et couleur en "bleues" */ 

.star 
{
    margin: 0 0 10px 20px;
    color: #0065fc
}

/* Passage des étoiles en couleur grises */
.star-grey
{
    color: #c7c3c3c5;
}

/* Modification de "Afficher plus" en bas de la section hébergements */
#more
{
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 20px;
}

/*SECTION POPULAIRES */

/* Mise en forme de la section "Populaires" */

/* section "populaires" à laquelle est appliquée : couleur de fond, des dimensions et marges extérieures */

.popular
{
    background-color: #f2f2f2;
    width: 33%;
    margin: 0 50px 0 50px;
    border-radius: 30px;
}

/* Titre de la section populaire (incluant titre et icone ). Alignement des 2 éléments entre eux et marge extérieure */
#popular-title
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px 50px 0 20px;
}

/* Dimensions de l'icône à coté du titre de la section "populaires" */

#popular-title i
{
    font-size: 1.5em;
}

/* Alignements des éléments, dimensions, couleur de fond, marges extérieures et arrondis des bordures */
.popular-article
{
    display: flex;    
    width: 92%;
    background-color: #ffffff;
    margin: 20px 20px 50px 20px;
    border-radius: 20px;
}

/* Modification des dimensions des images, arrondis des bordures et marges extérieures */
.img-popular
{
    width: 180px;
    height: 190px;
    
    border-radius: 20px 0 0 20px;
    margin: 5px 20px 5px 5px ;
}

/* Marges intérieures sur les titres h3 des éléments */
.popular-article h3
{
    
    padding: 0 20px 0 20px;
    margin: none;
}

/* Marges intérieures pour placement des paragraphes des éléments */
.popular-article p
{
    padding: 0 20px 40px 20px;
}

/*SECTION ACTIVITÉS */

/* Mise en page de la section "Activités" */

/* Dimensions et marges sur la section "Activités" */
.activities
{
    width: 99%;
    margin: 50px 50px 50px 50px;
    padding: 20px 50px 20px 0;     
}

/* Alignement des éléments, largeur, couleur de fond, marge et arrondis des bordures */
.activities-article
{
    display: inline-block;
    width: 23%;
    background-color: #ffffff;
    margin: 20px 20px 20px 0;   
    border-radius: 20px ; 
}

/* Alignement du titre */
.activities-article h3
{  
   margin-left: 20px;
}

/* Bordures et arrondis des articles seuls (grandes images) */
.only
{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
}

/* Bordures, arrondis et marges des articles situés en haut (avec 2 articles/ colonne) */
.activities-article-top
{
    border-bottom: 1px solid #f2f2f2;
    border-radius: 20px;
    margin-bottom: 30px;
}

/* Bordures, arrondis et marges des articles situés en bas  (avec 2 articles/ colonne) */
.activities-article-bottom
{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    margin-top: 10px;
}

/* Taille des images plus petites */
.img-activities
{
    width: 100% ;
    height: 190px;
    border-radius: 20px 20px 0 0;
}

/* Taille des images plus grandes */
.img-activities-height
{
    width: auto; 
    height: 480px;
    max-width: 100%;
    border-radius: 20px 20px 0  0; 
}

/*FOOTER*/

/* Alignements des éléments présents dans le footer, et on donne une couleur de fond */
footer
{
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
}

/* Marges extérieures appliquées à chaque élements */

.footer-field
{
    margin: 20px 280px 20px 10px;
}

/* Enlevement des puces de la liste et gestion des interlignes */

.footer-field li
{
    list-style: none;
    line-height: 2em;
}

/* Marge extérieure gauche des titres pour aligner avec les éléments de liste */ 

.footer-field h4
{
    margin-left: 40px;
}
